<ActionBar title="{{user.name}}">
    <NavigationButton text="Back" android.systemIcon="ic_menu_back"></NavigationButton>
</ActionBar>
<StackLayout>
    <TextField id="user-name" [(ngModel)]="user.name" hint="User name" keyboardType="text" autocorrect="false" autocapitalizationType="none"></TextField>
    <TextField id="password" [(ngModel)]="user.password" secure="true" hint="Password" keyboardType="password" autocorrect="false" autocapitalizationType="none"></TextField>
    <Button text="Sign in" class="submit-button" (tap)="submit()"></Button>
</StackLayout>