<ActionBar title="Home">
    <ActionItem text="Next" (tap)="onTap()"></ActionItem>
</ActionBar>

<StackLayout>
    <GridLayout rows="8*, *" columns="*,*">
        <slides [loop]="true" row="0" col="0" colSpan="2">
            <slide class="slide-1">
                <Label text="This is Panel 1"></Label>
            </slide>
            <slide class="slide-2">
                <Label text="This is Panel 2"></Label>
            </slide>
            <slide class="slide-3">
                <Label text="This is Panel 3"></Label>
            </slide>
            <slide class="slide-4">
                <Label text="This is Panel 4"></Label>
            </slide>
            <slide class="slide-5">
                <Label text="This is Panel 5"></Label>
            </slide>
        </slides>
        <Button row="1" col="0" text="Sing In" class="btn" (tap)="buttonTap()"></Button>
        <Button row="1" col="1" text="Sing In" class="btn" (tap)="buttonTap()"></Button>
    </GridLayout>
</StackLayout>