<ActionBar title="Welcome">
    <NavigationButton text="Back" android.systemIcon="ic_menu_back"></NavigationButton>
</ActionBar>

<StackLayout>
    <GridLayout rows="8*, *" columns="*,*">
        <GridLayout row="0" colSpan="2">
            <slides [loop]="true">
                <slide class="slide-1">
                    <Label text="This is Panel 1"></Label>
                </slide>
                <slide class="slide-2">
                    <Label text="This is Panel 2"></Label>
                </slide>
                <slide class="slide-3">
                    <Label text="This is Panel 3"></Label>
                </slide>
            </slides>
        </GridLayout>
        <Button row="1" col="0" text="Sing In" class="btn" (tap)="singIn()"></Button>
        <Button row="1" col="1" text="Sing Up" class="btn" (tap)="singUp()"></Button>
    </GridLayout>
</StackLayout>